## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.SQL
4.C++
5.Java

Some of the commonly used libraries used by Data Scientists include:
1.TensorFlow
2.Pandas
3.NumPy
4.PyTorch
5.SciPy

|Data Science Tools|
|------------------|
|Apache Hadoop|
|SAS|
|TensorFlow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

__Objectives:__
* List popular languages for Data Science
* List of popular Libraries 
* Well Known Data Science Tools

## Author
Prathmesh Rathod